<main class="content">
  <div class="cont_ban"></div>
  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>Свяжитесь с нами</h1>
      </div>
    </div>
    <div class="ml_tlphn">
      <div class="txt_ct phone">
        <h1>По телефону</h1>
        <p>8 909 904 12 45</br>
          8 909 904 12 45</p>
      </div>
      <div class="txt_ct mail">
        <h1>Через e-mail</h1>
        <p>forexample@gmail.com</br>forexample@gmail.com</p>
      </div>
    </div>
    <div class="line">
      <div class="inline cnt_inl">
        <h1>Или приезжайте</br>к нам</h1>
      </div>
    </div>
    <div class="adr_cnt"><p>
      Нижний Новгород, ул. Долгополова 50/40,  ТЦ "Порт Савин", офис 407
    </p></div>
  </div>

  <div class="adr_mp"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2212.7526497179274!2d43.946177!3d56.316841999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d5c3391ed0cd%3A0x501239ca9dc70986!2z0YPQuy4g0JTQvtC70LPQvtC_0L7Qu9C-0LLQsCwgNTAsINCd0LjQttC90LjQuSDQndC-0LLQs9C-0YDQvtC0LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sru!4v1402428927292" width="1366" height="384" frameborder="0" style="border:0"></iframe></div>

  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>Наши партнёры</h1>
      </div>
    </div>
    <div class="circle prtn"><h1>1</h1></div>
    <div class="circle prtn"><h1>2</h1></div>
    <div class="circle prtn"><h1>3</h1></div>
    <div class="circle prtn"><h1>4</h1></div>
    <div class="circle prtn"><h1>5</h1></div>

  </div>
</main><!-- .content -->