<main class="content">
  <div class="cont_ban"></div>
  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>свяжитесь с нами</h1>
      </div>
    </div>
    <div class="slogan">
      <div class="circle one cnt_crcl"></div>
    </div>
    <div class="ml_tlphn">
      <div class="txt_ct phone">
        <h1>По телефону</h1>
        <p>8 909 904 12 45</br>
          8 909 904 12 45</p>
      </div>
      <div class="txt_ct mail">
        <h1>Через e-mail</h1>
        <p>forexample@gmail.com</br>forexample@gmail.com</p>
      </div>
    </div>
    <div class="line">
      <div class="inline cnt_inl">
        <h1>или приезжайте</br>к нам</h1>
      </div>
    </div>
    <div class="adr_cnt"><p>
      Нижний Новгород, ул. Долгополова 50/40,  ТЦ "Порт Савин", офис 407
    </p></div>
  </div>

  <div class="adr_mp"><img src="/images/adress.jpg"></div>

  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>наши партнёры</h1>
      </div>
    </div>
    <div class="circle prtn"><h1>1</h1></div>
    <div class="circle prtn"><h1>2</h1></div>
    <div class="circle prtn"><h1>3</h1></div>
    <div class="circle prtn"><h1>4</h1></div>
    <div class="circle prtn"><h1>5</h1></div>

  </div>
</main><!-- .content -->