<main class="content">
  <div class="banner"></div>
  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>Наши услуги</h1>
      </div>
    </div>
    <div class="services_content">
    <% @services.each do |service| %>
    <div class="service">
      <div class="circle <%= ['one', 'two' , 'three', 'four'].to_a.shuffle.sample %>"></div>
      <div class="zag"><h1><%= link_to service_path(service) do %><%= service.title %><% end %></h1></div>
    </div>
    <% end %>
    </div>
    <div class="look_more">
    <%= button_to 'Смотреть все услуги!', services_path, class: 'btn btn-info btn-lg', method: :get %>
    </div>
    <div class="brv">
      <div class="action">
        <div class="name_action">
          <p><span>Акция</span></br> скидка при заказе через сайт <span>40%</span>
          </p>
        </div>
      </div>
      <div class="sert">
        <h1>Сертификаты</h1>
      </div>
    </div>
    <div class="line">
      <div class="inline">
        <h1>Наши партнёры</h1>
      </div>
    </div>
    <div class="circle prtn"><h1>1</h1></div>
    <div class="circle prtn"><h1>2</h1></div>
    <div class="circle prtn"><h1>3</h1></div>
    <div class="circle prtn"><h1>4</h1></div>
    <div class="circle prtn"><h1>5</h1></div>
  </div>
</main><!-- .content -->