<main class="content">
  <div class="price_ban"></div>
  <div class="cnt">
    <div class="line">
      <div class="inline">
        <h1>Наши цены</h1>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Наименование услуги</th>
        <th>Стоимость (руб./мес.)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ведение бухгалтерского учета при различных системах налогообложения:</td>
        <td>----------------</td>
      </tr>
      <tr>
        <td> - ЕНВД, патент</td>
        <td>от 1 500 руб.</td>
      </tr>
      <tr>
        <td> - УСНО, объект налогообложения - доходы</td>
        <td>от 1 500 руб.</td>
      </tr>
      <tr>
        <td> - УСНО, объект налогообложения - доходы минус расходы</td>
        <td>от 3 000 руб.</td>
      </tr>
      <tr>
        <td> - традиционная система налогообложения</td>
        <td>от 5 000 руб.</td>
      </tr>
      <tr>
        <td>Сдача нулевой отчетности</td>
        <td>от 500 руб.</td>
      </tr>
      <tr>
        <td>Регистрация ООО «под ключ» (подготовка Устава, регистрация в ИФНС, фондах, статистике, изготовление печати, госпошлина, нотариус)</td>
        <td>10 000 руб.</td>
      </tr>
      <tr>
        <td>Регистрация ИП</td>
        <td>от 500 руб.</td>
      </tr>
      <tr>
        <td>Ведение кадрового делопроизводства</td>
        <td>от 1 000 руб.</td>
      </tr>
      <tr>
        <td>Консультирование по вопросам бухгалтерского учета и налогообложения (разовое/абонентское обслуживание)</td>
        <td>от 1 000 руб.</td>
      </tr>
      <tr>
        <td>Восстановление бухгалтерского учета</td>
        <td>от 7 000 руб.</td>
      </tr>
      <tr>
        <td>Составление ликвидационного баланса</td>
        <td>от 10 000 руб.</td>
      </tr>
      <tr>
        <td>Разработка и составление учетной политики</td>
        <td>от 3 000 руб.</td>
      </tr>
      <tr>
        <td>Подготовка финансовой части бизнес-планов</td>
        <td>от 15 000 руб.</td>
      </tr>
      <tr>
        <td>Анализ финансово-хозяйственной деятельности</td>
        <td>от 15 000 руб.</td>
      </tr>
      <tr>
        <td>Экспертиза бухгалтерских документов в рамках уголовных дел в сфере экономической деятельности</td>
        <td>от 15 000 руб.</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block">оставить заявку</button>
    <div class="line">
      <div class="inline">
        <h1>Наши партнёры</h1>
      </div>
    </div>
    <div class="circle prtn"><h1>1</h1></div>
    <div class="circle prtn"><h1>2</h1></div>
    <div class="circle prtn"><h1>3</h1></div>
    <div class="circle prtn"><h1>4</h1></div>
    <div class="circle prtn"><h1>5</h1></div>

  </div>
</main><!-- .content -->